@model List<ModelEF.Model.Product>
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>ThoiTrangKhuyenPham</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Asset/Client/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Asset/Client/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Asset/Client/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Asset/Client/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Asset/Client/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/Asset/Client/images/loading.gif" alt="#" /></div>
    </div>

    <div class="wrapper">
        <div id="content">      
            <!-- header -->
            <!-- Categories -->
            <div class="Categories">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2> Danh Mục Sản Phẩm</h2>
                                <ul class="categiri">
                                    <li class="active"><a href="#">Áo</a></li>
                                    <li><a href="#quan">Quần</a></li>
                                    <li><a href="#khuyentai">Khuyên tai</a></li>
                                    <li><a href="#mu">Mũ</a></li>
                                    <li><a href="#tat">Tất</a></li>
                                    <li><a href="#vongtay">Vòng tay</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- news brand -->
                    <div id="brand" class="brand-bg">

                        <h3>Áo</h3>@{

                            foreach (var item in Model)
                            {
                                if (item.CateID == 1)
                                {
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                            <div class="brand-box">
                                                @item.Name
                                                <i>
                                                    <img src="@Url.Content(item.img)" style="height:200px; width:200px;" />
                                                </i>
                                                <h4 style="text-align:center">Price $<span class="nolmal">@item.UnitCost</span></h4>
                                            </div>
                                            <a class="buynow" href="#">Buy now</a>
                                        </div>
                                    </div>}
                            }
                        }
                    </div>
                    <div id="quan" class="brand-bg">
                        <h3>Quần</h3>@{
                            foreach (var item in Model)
                            {
                                if (item.CateID == 2)
                                {
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                            <div class="brand-box">
                                                @item.Name
                                                <i>
                                                    <img src="@Url.Content(item.img)" style="height:200px; width:200px;" />
                                                </i>
                                                <h4 style="text-align:center">Price $<span class="nolmal">@item.UnitCost</span></h4>
                                            </div>
                                            <a class="buynow" href="#">Buy now</a>
                                        </div>
                                    </div>}
                            }
                        }
                    </div>
                    <div id="khuyentai" class="brand-bg">
                        <h3>Khuyên tai</h3>@{
                            foreach (var item in Model)
                            {
                                if (item.CateID == 3)
                                {
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                            <div class="brand-box">
                                                @item.Name
                                                <i>
                                                    <img src="@Url.Content(item.img)" style="height:200px; width:200px;" />
                                                </i>
                                                <h4 style="text-align:center">Price $<span class="nolmal">@item.UnitCost</span></h4>
                                            </div>
                                            <a class="buynow" href="#">Buy now</a>
                                        </div>
                                    </div>}
                            }
                        }
                    </div>
                    <div id="mu" class="brand-bg">
                        <h3>Mũ</h3>@{
                            foreach (var item in Model)
                            {
                                if (item.CateID == 4)
                                {
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                            <div class="brand-box">
                                                @item.Name
                                                <i>
                                                    <img src="@Url.Content(item.img)" style="height:200px; width:200px;" />
                                                </i>
                                                <h4 style="text-align:center">Price $<span class="nolmal">@item.UnitCost</span></h4>
                                            </div>
                                            <a class="buynow" href="#">Buy now</a>
                                        </div>
                                    </div>}
                            }
                        }
                    </div><div id="tat" class="brand-bg">
                        <h3>Tất</h3>@{
                            foreach (var item in Model)
                            {
                                if (item.CateID == 5
)
                                {
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                            <div class="brand-box">
                                                @item.Name
                                                <i>
                                                    <img src="@Url.Content(item.img)" style="height:200px; width:200px;" />
                                                </i>
                                                <h4 style="text-align:center">Price $<span class="nolmal">@item.UnitCost</span></h4>
                                            </div>
                                            <a class="buynow" href="#">Buy now</a>
                                        </div>
                                    </div>}
                            }
                        }
                    </div>
                    <div id="vongtay" class="brand-bg">
                        <h3>Vòng tay</h3>@{
                            foreach (var item in Model)
                            {
                                if (item.CateID == 3)
                                {
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                            <div class="brand-box">
                                                @item.Name
                                                <i>
                                                    <img src="@Url.Content(item.img)" style="height:200px; width:200px;" />
                                                </i>
                                                <h4 style="text-align:center">Price $<span class="nolmal">@item.UnitCost</span></h4>
                                            </div>
                                            <a class="buynow" href="#">Buy now</a>
                                        </div>
                                    </div>}
                            }
                        }
                    </div>
                    <div class="overlay"></div>
                    <!-- Javascript files-->
                    <script src="~/Asset/Client/js/jquery.min.js"></script>
                    <script src="~/Asset/Client/js/popper.min.js"></script>
                    <script src="~/Asset/Client/js/bootstrap.bundle.min.js"></script>
                    <script src="~/Asset/Client/js/jquery-3.0.0.min.js"></script>

                    <!-- sidebar -->
                    <script src="~/Asset/Client/js/jquery.mCustomScrollbar.concat.min.js"></script>
                    <script src="~/Asset/Client/js/custom.js"></script>
                    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#sidebar").mCustomScrollbar({
                                theme: "minimal"
                            });

                            $('#dismiss, .overlay').on('click', function () {
                                $('#sidebar').removeClass('active');
                                $('.overlay').removeClass('active');
                            });

                            $('#sidebarCollapse').on('click', function () {
                                $('#sidebar').addClass('active');
                                $('.overlay').addClass('active');
                                $('.collapse.in').toggleClass('in');
                                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function () {
                            $(".fancybox").fancybox({
                                openEffect: "none",
                                closeEffect: "none"
                            });

                            $(".zoom").hover(function () {

                                $(this).addClass('transition');
                            }, function () {

                                $(this).removeClass('transition');
                            });
                        });
                    </script>
                    <script>
                        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
                        // Australia.
                        function initMap() {
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 11,
                                center: {
                                    lat: 40.645037,
                                    lng: -73.880224
                                },
                            });

                            var image = '~/Asset/Client/images/maps-and-flags.png';
                            var beachMarker = new google.maps.Marker({
                                position: {
                                    lat: 40.645037,
                                    lng: -73.880224
                                },
                                map: map,
                                icon: image
                            });
                        }
                    </script>
                    <!-- google map js -->
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
                    <!-- end google map js -->
</body>

</html>